In [3]:
counter = 1
def f():
    for i in [1,2,3]:
        global counter
        counter +=1
f()
print(counter)

4

# Stacks

In [4]:
#Push operation
stack = []
stack.append(5)
print(stack)
stack.append(10)
print(stack)
stack.append(20)
print(stack)
stack.append(30)
print(stack)
stack.append(40)
print(stack)
stack.append(50)
print(stack)

#Pop operation
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[5]
[5, 10]
[5, 10, 20]
[5, 10, 20, 30]
[5, 10, 20, 30, 40]
[5, 10, 20, 30, 40, 50]
[5, 10, 20, 30, 40]
[5, 10, 20, 30]
[5, 10, 20]
[5, 10]
[5]

# Tuple

In [8]:
mytuple = ('alpha',12,3,4,5,1.2)

In [9]:
type(mytuple)

tuple

In [10]:
print(mytuple)

('alpha', 12, 3, 4, 5, 1.2)

In [11]:
empty_tuple = ()

In [12]:
print(empty_tuple)

()

In [13]:
one_element_tuple = 123,

In [14]:
print(one_element_tuple)

(123,)

In [15]:
type(one_element_tuple)

tuple

In [16]:
len(one_element_tuple)

1

In [17]:
student1 = 'humanshu',20,'gaziabad','fdsndjfs@gmail.com'

In [20]:
some_tuple  = mytuple ,1,2,3,44

In [21]:
print(some_tuple)

(('alpha', 12, 3, 4, 5, 1.2), 1, 2, 3, 44)

In [22]:
pack = 12,3,4,'jello'

In [23]:
print(pack)

(12, 3, 4, 'jello')

In [24]:
x,y,z,h = pack

In [25]:
print(x,y,z,h)

12 3 4 jello

In [26]:
for i in pack:
    print(i)

12
3
4
jello

In [27]:
mytuple[0]

'alpha'

In [32]:
def func(x,y, *arg):
    print(x,y, arg)
    for i in arg:
        print(i)

In [33]:
func(2,3)

2 3 ()

In [34]:
func(2,3,4)

2 3 (4,)
4

In [35]:
func(2,3,4,5)

2 3 (4, 5)
4
5

In [36]:
some_list = []
for x in [1,2,3]:
    for y in [4,2,1]:
        if x!=y:
            some_list.append((x,y))
print(some_list)

[(1, 4), (1, 2), (2, 4), (2, 1), (3, 4), (3, 2), (3, 1)]

In [42]:
another_list = [[x,y] for x in [1,2,3] for y in [4,2,1] if x!=y]

In [43]:
print(another_list)

[[1, 4], [1, 2], [2, 4], [2, 1], [3, 4], [3, 2], [3, 1]]

In [39]:
t = [x for x in range(10)]

In [40]:
print(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
temp = []
for i in range(10):
    temp.append(i)
print(temp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
[[x,y] for x in [1,2,3] for y in ['a' , 'b', 'c']]

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c']]

In [45]:
t = [int(input()) for i in range(10)]

2
3
5
2
1
4
5
6
5
5

In [46]:
print(t)

[2, 3, 5, 2, 1, 4, 5, 6, 5, 5]

In [48]:
def returnMultipleValues():
    print('fjksd fjklsdsdk')
    return 'himanshu',20,'Ghaziabad'

In [49]:
name, age, address = returnMultipleValues()

fjksd fjklsdsdk

In [50]:
print(name, age, address)

himanshu 20 Ghaziabad

# Sets

In [51]:
myset = set()

In [52]:
print(myset)

set()

In [53]:
fruits = {'apple' , 'orange', 'apple', 'pear', 'banana'}

In [54]:
print(fruits)

{'orange', 'apple', 'banana', 'pear'}

In [55]:
type(fruits)

set

In [56]:
unique = set('jfkldsfkjsdfjdklsjf')

In [57]:
print(unique)

{'f', 's', 'k', 'd', 'j', 'l'}

In [58]:
'orange' in fruits

True

In [59]:
'kiwi' in fruits

False

In [60]:
alpha = set('hellobello')
beta = set('pythonkython')

In [61]:
print(alpha)
print(beta)

{'h', 'l', 'b', 'o', 'e'}
{'h', 'y', 't', 'p', 'k', 'n', 'o'}

In [62]:
alpha - beta

{'b', 'e', 'l'}

In [63]:
alpha | beta

{'b', 'e', 'h', 'k', 'l', 'n', 'o', 'p', 't', 'y'}

In [64]:
alpha & beta

{'h', 'o'}

In [65]:
alpha ^ beta

{'b', 'e', 'k', 'l', 'n', 'p', 't', 'y'}

In [66]:
gama = {1,2,3,4,5}
eta = {2,3,'hello', 'python'}

In [67]:
print(gama)
print(eta)

{1, 2, 3, 4, 5}
{2, 3, 'python', 'hello'}

In [68]:
gama.add(10)

In [69]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [70]:
gama.difference(eta)

{1, 4, 5, 10}

In [71]:
gama.intersection(eta)

{2, 3}

In [72]:
gama.discard(4)

In [73]:
print(gama)

{1, 2, 3, 5, 10}

In [74]:
gama.union(eta)

{1, 10, 2, 3, 5, 'hello', 'python'}

In [75]:
gama.isdisjoint(eta)

False

In [76]:
gama.issuperset(eta)

False

# Dictionary

In [77]:
mydictionary = {}

In [78]:
type(mydictionary)

dict

In [79]:
print(mydictionary)

{}

In [80]:
mydictionary = {'apples': 5, 'ornage': 10}

In [81]:
print(mydictionary)

{'apples': 5, 'ornage': 10}

In [82]:
mydictionary.get('apples')

5

In [83]:
'apples' in mydictionary

True

In [84]:
mydictionary.get('jfskldjkfds')

In [85]:
mydictionary.items()

dict_items([('apples', 5), ('ornage', 10)])

In [87]:
mydictionary.keys()

dict_keys(['apples', 'ornage'])

In [88]:
mydictionary.values()

dict_values([5, 10])

In [89]:
mydictionary.popitem()

('ornage', 10)

In [90]:
dict([('jack', 4) , ('jill', 10) , ('hill', 10)])

{'jack': 4, 'jill': 10, 'hill': 10}

In [91]:
mydictionary['nayakey'] = 78327

In [92]:
print(mydictionary)

{'apples': 5, 'nayakey': 78327}

In [93]:
mydictionary['apples']

5

In [96]:
' '.join(['hello', 'python', 'wow'])

'hello python wow'

In [97]:
t = ['hello', 'python', 'wow']
for i in range(len(t)):
    print(i, t[i])

0 hello
1 python
2 wow

In [98]:
for index, value in enumerate(t):
    print(index, value)

0 hello
1 python
2 wow

In [100]:
for i in range(len(t)-1,-1,-1):
    print(t[i])

wow
python
hello

In [102]:
for i in reversed(t):
    print(i)

wow
python
hello

In [103]:
print(t)

['hello', 'python', 'wow']

In [104]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [105]:
email_dictionary = {'arun': 'arun@gmail.com' , 'rob': 'rob@gmail.com'}

In [106]:
for key, value in email_dictionary.items():
    print(key,value)

arun arun@gmail.com
rob rob@gmail.com

In [108]:
basket = ['apples', 'orange', 'apples', 'pear' , 'orange', 'banana']

In [109]:
for i in reversed(sorted(set(basket))):
    print(i)

pear
orange
banana
apples

In [110]:
def odd_or_even(a):
    if a%2 == 0:
        return 'Even'
    else:
        return 'Odd'

In [111]:
def odd_or_even2(a):
    return 'Even' if a%2 == 0 else 'Odd'

In [113]:
def odd_and_even(n):
    print('Even:', end = '')
    for i in range(0,n,2):
        print(i)

In [114]:
odd_and_even(10)

Even:0
2
4
6
8

In [115]:
def num_of_digits(n):
    return len(str(n))

In [116]:
num_of_digits(102)

3

In [118]:
def is_prime(n):
    if n == 1:
        return False
    for i in range(2,n//2 + 1):
        if n%i == 0:
            return False
    return True

In [123]:
is_prime(11)

True

In [124]:
def mult_3or5(n):
    sum1 = 0
    for i in range(n+1):
        if i%3 == 0 or i%5 == 0:
            sum1+=i
    return sum1

In [125]:
def mult_3or5_2(n):
    return sum([x for x in range(n+1) if x%3==0 or x%5== 0])

In [126]:
mult_3or5_2(20)

98

In [127]:
mult_3or5(20)

98

In [129]:
def fact(m):
    t = 1
    for i in range(1,m+1):
        t = t*i
    return t

In [130]:
fact(5)

120

In [131]:
def all_prime(n):
    return [x for x in range(1,n+1) if is_prime(x)]

In [134]:
all_prime(10)

[2, 3, 5, 7]

In [135]:
#fact(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [136]:
def pat1(n):
    for i in range(1, n):
        print('*'*i)

In [137]:
pat1(6)

*
**
***
****
*****

In [139]:
def pattern3(n):
    for i in range(1, n+1):
        print(((str(i) + ' ')*i))

In [140]:
pattern3(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5